
/*
* Breakpoint
*/

$breakpoint-200: 576px!default;
$breakpoint-300: 768px!default;
$breakpoint-400: 1024px!default;
$breakpoint-500: 1200px!default;
$breakpoint-600: 1360px!default;
$breakpoint-700: 1440px!default;
$breakpoint-800: 1680px!default;
$breakpoint-900: 1920px!default;

