
/*
* Default
*/

$color-white: #FFFFFF;
$color-black: #051724;
$color-neutral: #A7AEB2;
$color-soft-neutral: #E6E8E9;
$color-hard-neutral: #D7DADC;

/*
* Client
*/

$color-primary: #1B663D;
$color-secondary: #2F3938;
$color-secondary-soft-dark: darken($color-secondary, 6%); // #212828
$color-secondary-hard-dark: #232B2A;
$color-tertiary: #F3D527;
$color-contrasting: #F38690;

