
/*
* Spaces
*/

$space-100: rem(8)!default;
$space-150: rem(12)!default;
$space-200: rem(16)!default;
$space-300: rem(24)!default;
$space-400: rem(32)!default;
$space-500: rem(40)!default;
$space-600: rem(48)!default;
$space-700: rem(56)!default;
$space-800: rem(64)!default;
$space-900: rem(72)!default;
$space-1000: rem(80)!default;
$space-025: rem(2)!default;
$space-050: rem(4)!default;
