
/*
* Fonts properties
*/

$txt-title-100-size: rem(12)!default;
$txt-title-100-weight: 500!default;
$txt-title-100-line-height: rem(20)!default;
$txt-title-100-style: normal!default;
$txt-title-150-size: rem(14)!default;
$txt-title-150-weight: 500!default;
$txt-title-150-line-height: rem(20)!default;
$txt-title-150-style: normal!default;
$txt-title-200-size: rem(17)!default;
$txt-title-200-weight: 500!default;
$txt-title-200-line-height: rem(24)!default;
$txt-title-200-style: normal!default;
$txt-title-300-size: rem(24)!default;
$txt-title-300-weight: 400!default;
$txt-title-300-line-height: rem(32)!default;
$txt-title-300-style: normal!default;
$txt-title-400-size: rem(32)!default;
$txt-title-400-weight: 400!default;
$txt-title-400-line-height: rem(40)!default;
$txt-title-400-style: normal!default;
$txt-title-500-size: rem(52)!default;
$txt-title-500-weight: 400!default;
$txt-title-500-line-height: rem(64)!default;
$txt-title-500-style: normal!default;
$txt-subtitle-100-size: rem(12)!default;
$txt-subtitle-100-weight: 400!default;
$txt-subtitle-100-line-height: rem(16)!default;
$txt-subtitle-100-style: italic!default;
$txt-subtitle-200-size: rem(17)!default;
$txt-subtitle-200-weight: 400!default;
$txt-subtitle-200-line-height: rem(24)!default;
$txt-subtitle-200-style: italic!default;
$txt-subtitle-300-size: rem(24)!default;
$txt-subtitle-300-weight: 400!default;
$txt-subtitle-300-line-height: rem(32)!default;
$txt-subtitle-300-style: italic!default;
$txt-subtitle-400-size: rem(32)!default;
$txt-subtitle-400-weight: 400!default;
$txt-subtitle-400-line-height: rem(40)!default;
$txt-subtitle-400-style: italic!default;
$txt-body-100-size: rem(10)!default;
$txt-body-100-weight: 400!default;
$txt-body-100-line-height: rem(16)!default;
$txt-body-100-style: normal!default;
$txt-body-200-size: rem(11)!default;
$txt-body-200-weight: 400!default;
$txt-body-200-line-height: rem(16)!default;
$txt-body-200-style: normal!default;
$txt-body-300-size: rem(12)!default;
$txt-body-300-weight: 400!default;
$txt-body-300-line-height: rem(16)!default;
$txt-body-300-style: normal!default;
$txt-body-400-size: rem(12)!default;
$txt-body-400-weight: 400!default;
$txt-body-400-line-height: rem(20)!default;
$txt-body-400-style: normal!default;
$txt-body-500-size: rem(14)!default;
$txt-body-500-weight: 400!default;
$txt-body-500-line-height: rem(20)!default;
$txt-body-500-style: normal!default;
$txt-body-600-size: rem(17)!default;
$txt-body-600-weight: 400!default;
$txt-body-600-line-height: rem(24)!default;
$txt-body-600-style: normal!default;
$txt-placeholder-size: rem(12)!default;
$txt-placeholder-weight: 400!default;
$txt-placeholder-line-height: rem(16)!default;
$txt-placeholder-style: italic!default;
