// CLIENT COLORS
$color-primary: #1B663D;
$color-secondary: #2F3938;
$color-tertiary: #F3D527;

// DEFAULT COLORS
$color-white: #FFFFFF;
$color-black: #051724;
$color-soft-neutral: #E6E8E9;
$color-hard-neutral: #D7DADC;


// BREAKPOINT
$breakpoint-200: 576px;
$breakpoint-300: 768px;
$breakpoint-400: 1024px;
$breakpoint-500: 1200px;
$breakpoint-600: 1360px;