
$color-transition: color $transition-300;

@mixin link-primary {
  color: $color-primary;
  transition: $color-transition;
  &:hover,
  &:focus,
  &:active {
    color: $color-contrasting;
  }
}

@mixin link-secondary {
  color: $color-secondary;
  transition: $color-transition;
  &:hover,
  &:focus,
  &:active {
    color: $color-contrasting;
  }
}

@mixin link-tertiary {
  color: $color-tertiary;
  transition: $color-transition;
  &:hover,
  &:focus,
  &:active {
    color: $color-contrasting;
  }
}

@mixin link-negative {
  color: $color-white;
  transition: $color-transition;
  &:hover,
  &:focus,
  &:active {
    color: $color-contrasting;
  }
}
