
.overflow-hidden {
  overflow: hidden;
}

.pages {
  &__title {
    color: $color-primary;
    @include txt-title-500;
  }

  &__subtitle {
    @include txt-subtitle-400;
    color: $color-primary;
  }
}

a:-webkit-any-link {
  color: inherit;
}
