
/* 
 * icon styles.
*/

@font-face {
  font-family: 'icomoon-icons';
  src: url('#{$--font-path}/icons/icomoon.woff') format('woff'),
    /* chrome, firefox */ url('#{$--font-path}/icons/icomoon.ttf')
      format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^='ds-icon-'],
[class*=' ds-icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 0.9;
  vertical-align: baseline;
  display: inline-block;
  font-size: $icon-size-300;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ds-icon-send:before {
  content: "\e900";
}
.ds-icon-location:before {
  content: "\e947";
}
.ds-icon-arrow-up:before {
  content: "\ea3b";
}