
/* 
 * Sizes
*/

$-mobile-header-height: rem(64);
$-header-height: rem(84);

$-mobile-cover-image: rem(224);
$-cover-image: rem(320);

$-viewport-height: calc(var(--vh, 1vh) * 100);

/* 
 * Transition
*/

$transition-300: 0.3s ease-out;
